$color-purple: 		#a17db8;
$color-purple-alt:	#a07fb6;
$color-pink: 		#ca479a;
$color-pink-alt: 	#e1a7e2;
$color-dark: 		#191919;
$color-light: 		#ffffff;
$color-grey: 		#bfbfbf;

$animation-speed: .3s;

$breakpoint-mobile-end:			768px;
$breakpoint-tablet-start:		769px;
$breakpoint-tablet-end:			1023px;
$breakpoint-desktop-start:		1024px;
$breakpoint-desktop-end:		1215px;
$breakpoint-widescreen-start:	1216px;
$breakpoint-widescreen-end:		1407px;
$breakpoint-fullhd:				1408px;