@import "_font";

$brand-color: #E24301;
$dark-color: #333;
$lite-color: #FFF;


$color-purple: #a17db8;
$color-pink: #ca479a;
$color-dark: #191919;
$color-light: #fff;

$font: roundedElegance;

html, body {
  padding: 0;
  margin: 0;
  font-family: $font;
  background-color: $color-dark;

  &.has-navbar-fixed-top {
    padding-top: 7.25em;
  }
}

.section.is-full-height {
  min-height: 100vh;
}

.is-full-width {
  width: 100% !important;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

.ellipse-pink {
  background-image: url('../images/ellipse-pink.svg');
  background-repeat: no-repeat;
  position: absolute;
  right: 5%;
  bottom: -100%;
  width: 250px;
  height: 250px;
}

.ellipse-purple {
  background-image: url('../images/ellipse-purple.svg');
  background-repeat: no-repeat;
  position: absolute;
  left: -5%;
  bottom: -220%;
  width: 450px;
  height: 450px;
}



h1.title {
  font-size: 3em;
}

.section-name {
  font-size: 2em;
  font-weight: bold;
}

.subtitle {
  font-size: 1.5em;
  font-weight: bold;
}

.button {
  border-radius: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-weight: bold;
  background: $color-pink;
  color: $color-light;
  border-color: $color-pink;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

  &.alt {
    background-color: $color-purple;
    border-color: $color-purple;
  }
}

nav.navbar {
  padding: 2em 4em;
  font-weight: bold;
  transition: ease-in-out all .4s;
  &.is-dark {
    background-color: $color-dark;

    .logo-color {
      display: initial;
    }

    .logo-white {
      display: none;
    }
  }

  .navbar-item img {
    max-height: 3rem;
    transition: ease-in-out all .4s;
  }

  &.is-light {
    background-color: $color-light;

    .logo-color {
      display: initial;
    }

    .logo-white {
      display: none;
    }
  }

  &.scrolled {
    padding: 1em 4em;

    .navbar-item img {
      max-height: 2.5em;
    }
  }
}

#splash {
  background-color: $color-dark;
  background-image: url('../images/wave.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;

  .columns {
    justify-content: space-between;
  }

  h1 {
    color: $color-light;
  }

  h2 {
    color: $color-light;
  }

  .subtitle {
    color: $color-light;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .social-link {
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }

  i {
    color: $color-light;
    font-size: 1.5em;

    
  }

  #splash-footer {
    display: block;
    text-align: right;
  }
  
}

#socialize {
  background-color: $color-purple;
  color: $color-light;

  h1 {
    color: $color-light;
  }

  .subtitle {
    color: $color-light;
  }

  .columns {
    justify-content: space-between;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

#influence {
  background-color: white;
  color: $color-dark;

  .columns {
    justify-content: space-between;
  }

  .subtitle {
    color: $color-dark;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

#discover {
  background-color: $color-pink;
  color: $color-light;

  h1 {
    color: $color-light;
  }

  .subtitle {
    color: $color-light;
  }

  .columns {
    justify-content: space-between;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

#footer {
  background-color: $color-dark;
  color: $color-light;
}