@import "./node_modules/bulma/bulma.sass";
@import "variables";
@import "fonts";

html, body {
  padding: 0;
  margin: 0;
  font-family: $font-text;
  background-color: $color-dark;

  &.has-navbar-fixed-top {
    padding-top: 7.25em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
}

.section.is-full-height {
  min-height: 100vh;
}

.is-full-width {
  width: 100% !important;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

.is-vertical-bottom {
  display: flex;
  align-items: flex-end;

  &.flex-direction-column {
    flex-direction: column;
    justify-content: flex-end;
  }
}

.container.is-fluid {
  @media (min-width: $breakpoint-desktop-start) {
    margin: 0 auto;
  }
}

.title {
  @media (min-width: $breakpoint-desktop-start) {
    font-size: 3em;
  }
}

.section-name {
  font-size: 1.5em;
  font-weight: bold;

  @media (min-width: $breakpoint-desktop-start) {
    font-size: 2em;
  }
}

.subtitle {
  font-weight: bold;

  @media (min-width: $breakpoint-desktop-start) {
    font-size: 1.5em;
  }
}

.button {
  border-radius: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-weight: bold;
  background: $color-pink;
  color: $color-light;
  border-color: $color-pink;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

  &.alt {
    background-color: $color-purple;
    border-color: $color-purple;
  }

  &.box {
    border-radius: 4px;
  }

  &.gradient-btm {
    background: linear-gradient(to bottom, $color-purple, $color-pink);
  }

  &.gradient-right {
    background: linear-gradient(to right, $color-purple, $color-pink);
  }

  &.navbar-burger {
    background-color: transparent;
    border-color: transparent;
    border-radius: 4px;
    color: $color-pink !important;
    box-shadow: none;

    &.is-active {
      color: $color-pink;
    }

    &:focus {
      outline: none !important;
      box-shadow: none;
    }
  }
}

nav.navbar {
  position: relative;
  z-index: 300;
  font-weight: bold;
  transition: ease-in-out all $animation-speed;

  @media (min-width: $breakpoint-desktop-start) {
    padding: 2em 4em;
  }

  &.is-dark {
    background-color: $color-dark;
  }

  &.is-light {
    background-color: $color-light;
  }

  &.scrolled {
    @media (min-width: $breakpoint-desktop-start) {
      padding: 1em 4em;

      .navbar-item {   
        color: $color-grey !important;     
        img {
          max-height: 2.5em;
        }
      }

      &.is-dark {
        .navbar-item {
          &.is-active {
            color: $color-light !important;
          }

          &:hover {
            color: $color-light !important;
          }
        }
      }

      &.is-light {
        .navbar-item {
          &.is-active {
            color: $color-dark !important;
          }

          &:hover {
            color: $color-dark !important;
          }
        }
      }
    }
  }

  .navbar-item {
    background-color: transparent !important;
    transition: ease-in-out all $animation-speed;

    &:hover,
    &:focus {
      color: $color-pink !important;
    }

    @media (min-width: $breakpoint-desktop-start) {
      flex-direction: column;
      justify-content: center;
      transition: ease-in-out all $animation-speed;

      &.is-active {
        &:after {
          background-color: $color-pink;
        }
      }

      &:after {
        content:'';
        height: 4px;
        margin-top: 5px;
        width: 4px;
        background-color: transparent;
        border-radius: 50%;
        display: inline-block;
        transition: ease-in-out all $animation-speed;
      }
    }

    img {
      max-height: 3rem;
      transition: ease-in-out all $animation-speed;
    }

    &.is-spaced {
      @media (min-width: $breakpoint-desktop-start) {
        margin-left: 3em;
      }
    }
  }
}

#splash {
  background-color: $color-dark;
  background-image: url('../../images/wave.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;

  .columns {
    justify-content: space-between;
  }

  h1 {
    color: $color-light;
  }

  h2 {
    color: $color-light;
  }

  .subtitle {
    color: $color-light;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .social-link {
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }

  i {
    color: $color-light;
    font-size: 1.5em;
  }

  .cta-text {
    margin: 3em 0 1em 0;
    color: $color-light;
    font-size: 1.5em;
  }

  .subscribe-form {
    .input-wrapper {
      flex: 1;
    }

    .submit-wrapper {
      margin-left: -1.5em;
      z-index: 30;

      .submit {
        border-radius: 1.5em !important;
      }
    }

    .input {
      padding: 1em;
      border: 2px solid $color-purple;
      background-color: $color-dark;
      color: $color-light;
      border-top-left-radius: 1.5em !important;
      border-bottom-left-radius: 1.5em !important;

      &::-webkit-input-placeholder {/* Chrome/Opera/Safari */
        color: $color-light;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $color-light;
      }
      &:-ms-input-placeholder {/*  IE 10+ */ 
        color: $color-light;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $color-light;
      }
    } 
  }

  #splash-footer {
    display: block;
    text-align: right;
    padding: 0 1em;

    @media (min-width: $breakpoint-desktop-start) {
      margin: 0 -2em;
    }
  }
}

#socialize {
  position: relative;
  background-color: $color-purple;
  color: $color-light;

  h1 {
    color: $color-light;
  }

  .subtitle {
    color: $color-light;
  }

  .columns {
    justify-content: space-between;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ellipse-pink {
    z-index: 10;
    background-image: url('../../images/ellipse-pink.svg');
    background-repeat: no-repeat;
    position: absolute;
    right: 5%;
    bottom: -10%;
    width: 250px;
    height: 250px;
  }
}

#influence {
  background-color: white;
  color: $color-dark;

  .columns {
    justify-content: space-between;

    @media (min-width: $breakpoint-tablet-start) {
      flex-direction: row-reverse;
    }
  }

  .subtitle {
    color: $color-dark;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ellipse-purple {
    background-image: url('../../images/ellipse-purple.svg');
    background-repeat: no-repeat;
    position: absolute;
    left: -5%;
    bottom: -220%;
    width: 450px;
    height: 450px;
    z-index: 10;
  }
}

#discover {
  position: relative;
  background-color: $color-pink;
  
  color: $color-light;

  h1 {
    color: $color-light;
  }

  .subtitle {
    color: $color-light;
  }

  .columns {
    justify-content: flex-end;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bubble-cut {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;

    @media (min-width: $breakpoint-tablet-start) {
      width: 85%;
    }

    @media (min-width: $breakpoint-desktop-start) {
      width: 60%;
    }
  }
}

#footer {
  position: relative;
  background-color: $color-dark;
  color: $color-light;
  overflow: hidden;

  h1 {
    color: $color-light;
  }

  .subtitle {
    color: $color-light;

    &.alt {
      color: $color-pink;
      font-weight: normal;
    }
  }

  .column {
    z-index: 10;
  }

  .subscribe-form {
    .input-wrapper {
      flex: 1;
    }

    .input {
      border: 2px solid $color-pink;
      background: linear-gradient(to right, rgba($color-purple, .4), rgba($color-pink, .4));
      color: $color-light;
      padding: 1em;
      border-top-left-radius: 1.5em !important;
      border-bottom-left-radius: 1.5em !important;

      &::-webkit-input-placeholder {/* Chrome/Opera/Safari */
        color: $color-light;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $color-light;
      }
      &:-ms-input-placeholder {/*  IE 10+ */ 
        color: $color-light;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $color-light;
      }
    }

    .submit-wrapper {
      margin-left: -1.5em;
      z-index: 30;

      .submit {
        border-radius: 1.5em !important;
      }
    }
  }

  .social-links {
    .social-link {
      color: $color-light;
      display: block;
      font-size: .75em;
    }
  }

  .bubble-gradient {
    z-index: 1;
    position: absolute;
    width: 30%;
    bottom: -10%;
    left: -5%;
  }
}